/* CSS declarations go here */

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}
.avatar_sm {
	height: 20px;
}

.userText{
	color: #b94a48;
}
.otherText{
	color: #3a87ad;
}